// text rules
$defaultFontSize: 62.5%;
$heroText: 'Roboto', sans-serif;
$paragraphText: 'Abel', sans-serif;
$buttonCta: 'Quicksand', sans-serif;
$strongText: 'Nova Slim', sans-serif;
//text rules ends here

//colors starts here
$primaryColor: #BE0000;
$ooo: #ff6787;
$secondaryColor: lighten($primaryColor, 60%);
$defaultWhite: #FFFEF7;
$defaultBlack:  darken($primaryColor, 70%);
$lightPrimaryColor: rgb(250, 231, 231);


//colors ends here